.rec {
    background-color: #bfdffc;
    border-radius: 0px!important;
    border: 1px solid #383838!important;
    border-top: 0px!important;
    width: 100%;
}

.rec-body {
    padding: 0.2rem!important;
}

.rec-title {
    padding: 0rem!important;
}

.sent {
    background-color: #FFFFF;
    border: 1px solid #a5d3fb;
    margin: 10px 10px;
    width: 100%;
    text-align: right;
    padding: 5px;
}

.input {
    background-color: #bfdffc;
    margin: 10px 10px;
    display: inline;
}

.textbox {
    background-color: #C4D7F3;
    padding: 0px;
    border: none;
}

.textbox:focus {
    background-color: #C4D7F3;
    padding: 0px;
    border: none;
}

.button {
    background-color: #C4C7F3;
    display: inline-block;
    border: none;
}
