.columns{display:flex; flex-direction:row;position: absolute;
    top: 60px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;}

.time-since{font-size: 14px!important}

.separator{padding: 8px!important}

.comment-columns{display:flex; flex-direction:row; width: 100%;}
.reply-button{width: 10%!important; height: 70px!important; display: block!important; margin: auto!important}
.comment-body{margin: 10px!important; width: 80%!important; font-size: 18px!important}

.post-columns{display:flex; flex-direction:row; width: 100%;}
.create-comment-button{width: 15%!important; height: 100px!important}
.post-body{margin-left: 10px!important; font-size: 22px!important; width: 80%!important}
.post-title{font-size: 32px!important; margin-left: 10px!important; margin-top: 0px!important}

.forumlist{height: 93%; overflow-y:scroll; padding: 5%}
.forum-container{width:15%; border-right: 3px solid black; align-items: center; background:grey}
.forum{width:100%}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font: 22px "Century Gothic", Futura, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 8pt;
    background-color: #7289DA;
    color: #ffffff;
    margin: 0pt!important;
    border-style: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:7%;
    padding-top:22px;
  }

  a.button:link {
      text-decoration: none;
      color: #ffffff;
  }
  
  a.button:hover {
    background-color: #2c2f33;
    color: #ffffff;
  }
  
  a.button:active {
    background-color: #222222;
    color: #eeeeee;
  }



.subforumlist{height:83%; overflow-y:scroll; padding: 5%}
.subforum-container{width:15%; border-right: 3px solid black; background:grey}
.forum-info-container{width:100%; height:10%!important; border-bottom: 3px solid grey; background-color: #2c2f33!important; padding:auto!important; margin:auto!important}
.forum-info{font-weight: bold!important; text-align: center; color: lightslategrey;}


.postlist{height:93%; overflow-y:scroll}
.post-container{height:100%; width:100%; overflow-y:scroll}
.post-container{width:70%;}