.vote_t    {
    border:0;
    background:transparent;
    outline: none !important;
    grid-row: 1;
    font-style: bold;
    font-size: 64px!important;
    margin-bottom: 6px!important;
    text-decoration: none!important;
    padding: 0px!important;
    line-height: 0.9;
}
.vote_b {
    border:0;
    background: transparent;
    outline: none !important;
    grid-row: 3;
    font-style: bold;
    font-size: 64px!important;
    margin-top: 0px!important;
    text-decoration: none!important;
    padding: 0px!important;
    line-height: 0.9;
}
.hollow {
    color: white!important;
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #bbbbbb;
}
.hollow:hover, .hollow:active, .hollow:visited {
    color: #bbbbbb!important;
    text-decoration: none!important;
}
.solid {
    color: #7289DA!important;
}
.solid:hover, .solid:active, .solid:visited  {
    color: #2c2f33!important;
    text-decoration: none!important;
}
div.middle {
    grid-row: 2;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 18px;
    font-style: bold;
}

div.voting {
    display: block;
}
.voting-container {
    display: grid;
    grid-template-rows: auto auto auto;
    padding-right: 10px!important;
    padding: 0px;
  }

.post-comment-voting-container {
    width: 19%!important;
    padding: 2px;
    padding-right: 8px!important;
    display: grid;
    grid-template-columns: 1fr 99fr;
    border-right: 1px solid;
}

.voting {
    grid-column: 1;
}

.voting-adj {
    grid-column: 2;
    align-self: center;
    width: 60%!important;
    word-wrap: break-word;
    text-align: center;
}