button.vote_t    {
    border:0;
    background:transparent;
    outline: none !important;
    grid-row: 1;
}
button.vote_b {
    border:0;
    background:transparent;
    outline: none !important;
    grid-row: 3;
}
div.middle {
    grid-row: 2;
    text-align: center;
}

div.voting {
    display: block;
}
.voting-container {
    display: grid;
    grid-template-rows: auto auto auto;
    padding-right: 10px;
  }

.post-comment-voting-container {
    width: 18%;
    padding: 2px;
    padding-right: 8px;
    display: grid;
    grid-template-columns: 1fr 99fr;
    border-right: 1px solid;
}

.voting {
    grid-column: 1;
}

.voting-adj {
    grid-column: 2;
    align-self: center;
}